<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Application de gestion de tickets</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="jumbotron">
        <h1>Application de gestion de tickets</h1>
    </div>
  
    <div class="navbar-collapse collapse">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                <li>@Html.ActionLink("Incidents en cours", "Create", "MATERIELs")</li>
                <li>@Html.ActionLink("Incidents clôturés", "Create", "MATERIELs")</li>
                <li>@Html.ActionLink("Déclarer un incident", "Create", "TICKETS")</li>
                <li>@Html.ActionLink("Inventaire", "Create", "MATERIELs")</li>
                <li>@Html.ActionLink("Utilisateur", "Create", "UTILISATEURs")</li>
                <li>@Html.ActionLink("Deconnexion", "Index")</li>
            </ul>
        </div>

    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Kuehne + Nagel Artenay</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
