@model AGTPPE2._1.Models.MATERIEL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MATERIEL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.emplacementMateriel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emplacementMateriel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modeleMateriel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modeleMateriel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ipMateriel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ipMateriel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typeIpMateriel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typeIpMateriel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numInfologMateriel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numInfologMateriel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.celluleMateriel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.celluleMateriel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.etatMateriel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etatMateriel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numeroChariot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeroChariot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BARRE.libelleBarre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BARRE.libelleBarre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CELLULE.libelleCellule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CELLULE.libelleCellule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TYPECONNEXION1.descriptionConnexion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TYPECONNEXION1.descriptionConnexion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UTILISATEUR.nomUtilisateur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UTILISATEUR.nomUtilisateur)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.numeroSerieMateriel }) |
    @Html.ActionLink("Back to List", "Index")
</p>
