@model IEnumerable<AGTPPE2._1.Models.MATERIEL>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.emplacementMateriel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modeleMateriel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ipMateriel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.typeIpMateriel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numInfologMateriel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.celluleMateriel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.etatMateriel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numeroChariot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BARRE.libelleBarre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CELLULE.libelleCellule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TYPECONNEXION1.descriptionConnexion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UTILISATEUR.nomUtilisateur)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.emplacementMateriel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modeleMateriel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ipMateriel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.typeIpMateriel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numInfologMateriel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.celluleMateriel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.etatMateriel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numeroChariot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BARRE.libelleBarre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CELLULE.libelleCellule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYPECONNEXION1.descriptionConnexion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UTILISATEUR.nomUtilisateur)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.numeroSerieMateriel }) |
            @Html.ActionLink("Details", "Details", new { id=item.numeroSerieMateriel }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.numeroSerieMateriel })
        </td>
    </tr>
}

</table>
